<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="rotary_table">
  <xacro:macro name="rotary_table" params="prefix:='' joint_name:='table_joint' link_name:='table_link' xyz:='0 0 0' rpy:='0 0 0'">
    <link name="${prefix}${link_name}">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.02" radius="0.1"/>
        </geometry>
        <material name="Grey">
          <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.02" radius="0.1"/>
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}${joint_name}" type="revolute">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="world"/>
      <child link="${prefix}${link_name}"/>
      <axis xyz="0 0 1"/>
      <limit lower="-3.1416" upper="3.1416" effort="10" velocity="1"/>
    </joint>
  </xacro:macro>
</robot>
